$day-color: #eee;
$hover-pink: #ffbfcb;
$day-size: 100px;
$gap-between-days: 1px;
$calendar-padding: 10px;
$calendar-width: calc(
  ($day-size * 7) + ($gap-between-days * 6) + ($calendar-padding * 2)
);
